<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Номера_машины.Properties.Settings.Connection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Resources\Car Info.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>